.lover-tables{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.text{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    font-family: "Roboto";
    color: turquoise;
    align-self: center;
}
